<div class="container">
<form #form="ngForm" name="newBlog" class="mt-5">
  <div class="row">
    <div class="col-md-8 form-group">
      <label class="form-label"  for="title">Title</label>
      <input type="text" name="title" [(ngModel)]="article.title" class="form-control">
    </div>
    <div class="col-md-4 form-group">
      <label class="form-label"  for="date">Date</label>
      <input type="date" name="date" [value]="article.date | date:'yyyy-MM-dd'" (input)="article.date=parseDate($event.target.value)" class="form-control" ><br>
    </div>
  </div>  
  <div class="row">
    <textarea name="body" [(ngModel)]="article.body" class="form-control col-md-12" rows="10"></textarea>
  </div>
  <div class="text-center mt-5">   
    <button (click)="save()" class="btn btn-info">Save Article</button>
  </div>  
</form>
</div>
