<form #form="ngForm" class="form-inline">
  <div class="col-md-12 form-group form-inline">
    <label class="col-sm-2 col-form-label"  for="name">Name</label>
    <input type="text" name="name" [(ngModel)]="article.name" class="form-control">
  </div>
  <div class="col-md-12 form-group form-inline">
    <label class="col-sm-2 col-form-label"  for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="article.title" class="form-control">
  </div>
  <div class="col-md-12 form-group form-inline">
    <label class="col-sm-2 col-form-label"  for="date">Date</label>
    <input type="date" name="date" [value]="article.date | date:'yyyy-MM-ddnpm'" [(ngModel)]="article.date" class="form-control" (input)="article.date=parseDate($event.target.value)">

  </div>
  <div class="col-md-12 form-group form-inline">
    <label class="col-sm-2 col-form-label"  for="article">Article</label>
    <input type="textarea" name="body" [(ngModel)]="article.body" class="form-control">
  </div>
  <div>  
    <button (click)="save()">Save Article</button>
  </div>  
</form>

