<div class=container>
	<div class="row homeContent">
		<div class="col-md-6 col-sm-12">
			<h2>Vacation Time!</h2>  
			<p>
				Life has thrown A LOT at me the past few months. Now it is time to decide on a vacation spot!<br><br><br>
				Grab a drink and check out the blog articles for updated information as we explore our next vacation spot!
			</p>
		</div>
		<div class="col-md-6 col-sm-12">
			<img class="beachPic" src="assets/images/beach.jpg" alt="Beautiful beach scene">
		</div>
	</div>	
</div>	
