<div class="container">
	<div class="row mt-5">
		<img class="col-md-3 col-sm-12 lindaPic" src="assets/images/linda.jpg" alt="Linda's Smiling Face">
		<div class="col-md-9 col-sm-12">
			<h2>About Linda</h2> 
			<p>
				Balance is an important part of life and I have planned a much-needed vacation for May.

				I find peace in coffee, laughing and winning board games.
				While I love researching and reading to solve problems or for a purpose, I get bored reading for fun! <br> <br>
				My husband, Ryan, helps me manage the daily choas of a our teenage daughter, Faith, and 2 little chihuahas, KeeKee and ChaCha. We love TU Basketball and OU Football!<br><br>
				I just finished classes at OK Coders and learned a lot! 
				I plan to continue learning a little more each day and find a new job soon. 
			</p>
		</div>
	</div>		
</div>
