<h2>About Linda</h2>

<p>Aspiring developer. Just completed OK Coders and is now looking for a job! I have obviously planned a much-needed vacation for May, but I am ready to work hard and find the right balance in life.</p>
<p>I find peace in coffee, laughing and winning board games. </p>
<p>I love researching and reading to solve problems but I despise reading for fun. That is not fun!</p>
<p>I think I can call myself a developer now. I just finished OK Coders and learned a lot!!! I had an incredible teacher and mentor over the past few months and am learning a little more each day. I intend to continue practicing and learning every single day. Stay tuned as I add to my portfolio and start showing off what I have learned!</p>
<p>I have a beautiful daughter named Faith and 2 chihuahas, KeeKee and ChaCha.</p>